<!--<div class="L_bag">-->
    <!--<div class="L_three_siagent">-->
        <!--<div class="L_t_left"></div>-->
        <!--<div class="L_t_right">-->
            <!--<form name="loginForm" id="loginForm" action="api/resident/usernamepassword/login" method="post">-->
                <!--<div class="L_o_text">欢迎登录</div>-->
                <!--<div class="fg" style="height:20px;"></div>-->
                <!--<div class="L_t_text">-->
                    <!--<div class="L_T_admin">用户名：</div>-->
                    <!--<div class="L_T_adright">-->
                        <!--<input class="L_t_input" name="username" id="username" autofocus data-ng-model="credentials.username" required type="text"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="L_t_text">-->
                    <!--<div class="L_T_admin">密  码：</div>-->
                    <!--<div class="L_T_adright">-->
                        <!--<input class="L_t_input" name="password" type="password" id="inputPassword"-->
                               <!--data-ng-model="credentials.password" data-ng-minlength="6" required/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="L_t_text">-->
                    <!--<div class="L_T_admin">验证码：</div>-->
                    <!--<div class="L_T_adright2">-->
                        <!--<input type="hidden" id="captchaId" name="captchaId" value="{{credentials.captchaId}}"/>-->
                        <!--<input type="text" id="captchaWord" name="captchaWord"-->
                               <!--class="L_t_input"-->
                               <!--data-ng-model="credentials.captchaWord"-->
                               <!--data-ng-minlength="4" data-ng-maxlength="4"-->
                               <!--required placeholder="点击图片更换验证码" style="width:90px" />-->
                    <!--</div>-->
                    <!--<div class="L_t_Code">-->
                        <!--<span> <img id="captchaImage" ng-src="{{captchaUrl}}" data-ng-click="getCaptcha()" width="80" height="35" alt="验证码"></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="fg" style="height:20px;"></div>-->
                <!--<div class="P_L_t_text" style="margin-top: -5px">-->
                    <!--<span style="font-size:13px; float:right;margin-right:30px"><a href="#/residentActive">账户未激活？单位激活</a></span>-->
                <!--</div>-->
                <!--<div class="fg" style="height:10px;"></div>-->
                <!--<button type="submit" class="L_t_text_color hand" style="margin-left: 15%" ng-disabled="loginForm.$invalid">登 录 系 统</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--<div class="L_twofg" style=" border-bottom:#d4d4d4 1px solid;"></div>-->