<div class="P_L_top" style="background:none;">
</div>
<div class="P_L_twofg">
    <div class="P_R_pic">恭喜您！注册成功。</div>
    <div class="P_L_T_input" style="margin:0 auto;">

        <div class="P_L_I_Cen" style="border:0;  width:50%">
            <div class="P_L_ceb_R01 hand" style="float:right;">
                <button onclick="window.location.href='#/expertlogin'" class="P_L_ceb_R01 hand">登 录</button>
            </div>
        </div>
        <div class="P_L_I_Right">返回登录页面</div>
        <br><br><br>
        <!-- <div style="font-size:large;color:green;middle;margin-left:100px;">请您到柜台进行实名认证，以便登录个人网厅！</div> -->
    </div>
</div>
