<div class="L_bag">
    <div class="L_three_expert">
        <div class="L_t_left"></div>
        <div class="L_t_right">
            <form name="loginForm" id="loginForm" ng-submit="loginSystem(loginForm)">
                <div class="L_o_text">欢迎登录</div>
                <div class="fg" style="height:20px;"></div>
                <div class="L_t_text">
                    <div class="L_T_admin">用户名：</div>
                    <div class="L_T_adright">
                        <input id="username" data-ng-model="personcredentials.idNum" name="username"
                               class="P_L_t_input" placeholder="证件号码" type="text" required>
                        {{loginForm.username.$valid}}
                    </div>
                </div>
                <div class="L_t_text">
                    <div class="L_T_admin">密 码：</div>
                    <div class="L_T_adright">
                        <input id="inputPassword" name="password" data-ng-model="personcredentials.password"
                               class="P_L_t_input" type="password" required>
                    </div>
                </div>
                <div class="L_t_text">
                    <div class="L_T_admin">验证码：</div>
                    <div class="L_T_adright2">
                        <input type="hidden" id="captchaId" name="captchaId"
                               value="{{personcredentials.captchaId}}"/> <input type="text"
                                                                                id="captchaWord" name="captchaWord"
                                                                                class="P_L_t_input"
                                                                                data-ng-model="personcredentials.captchaWord"
                                                                                data-ng-minlength="4"
                                                                                data-ng-maxlength="4" required
                                                                                placeholder="点击图片更换验证码"
                                                                                style="width: 90px"/>
                    </div>
                    <div class="L_t_Code">
                      <span> <img id="captchaImage" ng-src="{{personcaptchaUrl}}" style="margin-bottom: 3px;"
                                  data-ng-click="persongetCaptcha()" width="80" height="30" alt="验证码"></span>
                    </div>
                    <span style="float: left;height: 20px;margin-left: 70px;color:red"
                          ng-if="!loginForm.captchaWord.$valid && loginForm.captchaWord.$touched">
                        请输入4位验证码</span>
                </div>

                <div class="fg" style="height: 20px;"></div>
                <div class="P_L_t_text_color hand">
                    <button class="P_L_t_text_color hand" type="submit">登 录 系 统</button>
                </div>
                <div class="P_L_t_text" style="margin-top: -20px">

                </div>
                <!--<input type="hidden" id="_csrf" name="_csrf" value="{{csrfT}}"/>-->
                <div class="fg"></div>

                <div class="fg" style="height:35px;"></div>
                <div class="L_t_text" style="margin-top: -45px">
                    <div style="float:left; width:80px; height:30px; padding-left:20px; font-size:12px;cursor: pointer">
                        <span sty="font-size:13px; float:right;"><a href="#/expertPassword">忘记密码</a></span></div>
                    <div style="float:left; width:80px; height:30px; margin-left:80px;"><a
                            href="#/expertRegister">注册激活</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="L_twofg" style=" border-bottom:#d4d4d4 1px solid;height:10px"></div>
<div class="P_L_twofg">
    <div class="P_L_twoleft" style="width:auto">
        建议使用Google Chrome 浏览器（Chrome 49.0及以上版本）、Internet Explorer 浏览器（IE 11稳定版本）、搜狗浏览器（急速模式）、360浏览器（极速模式）访问系统。
        <span style="color:red">Chrome 49.0及以上版本 <a style="bold"
                                                    href="https://www.google.cn/intl/zh-CN/chrome/">点击下载；</a>
              <span style="color:red">IE11浏览器 <a style="bold"
                                                 href="https://www.microsoft.com/zh-cn/windows/">点击下载；</a>
                  <span style="color:red">搜狗浏览器 <a style="bold"
                                                   href="https://ie.sogou.com//">点击下载；</a>
                               <span style="color:red">360浏览器 <a style="bold"
                                                                 href="https://browser.360.cn/ee/">点击下载；</a>

        <div>版权所有：南宁市人力资源和社会保障局</div>
    </div>
</div>