<div style="background:#f6f6f6;">


    <div class="P_L_cen_right" style="margin-top:-60px;margin-right:180px">
        <div class="P_L_ceb_R01 hand"><a href="#/personlogin" class="P_L_ceb_R01 hand">登 录</a></div>
        <div class="P_L_ceb_R02 hand"><a href="#/personRegister" class="P_L_ceb_R02 hand">注 册</a></div>
    </div>
    <!--body-->
    <div class="P_L_twobg">
        <form name="resetForm" id="resetForm">
            <div class="P_L_register" style="height:480px">
                <div class="P_L_T_input">
                <div class="P_L_I_left"><span>*</span>姓名：</div>
                <div class="P_L_I_Cen01">
                <input class="P_L_I_input" autofocus class="L_I_input" id="name"
                ng-model="passWordResetDetailDTO.name" name="name" type="text" required>
                </div>
                <div class="P_L_I_Right">
                <div ng-class="{true: 'P_L_zc_tr', false: 'P_L_zc_ts'}[resetForm.name.$dirty && resetForm.name.$invalid]"
                style="line-height:34px">请输入您的姓名。
                </div>
                </div>
                </div>
                <div class="P_L_T_input">

                    <div class="P_L_I_left"><span>*</span>证件号码：</div>
                    <div class="P_L_I_Cen01">
                        <input class="P_L_I_input" id="idNumber"
                               ng-model="passWordResetDetailDTO.idNumber"
                               data-ng-pattern="/(^\d{18}$)|(^\d{17}(\d|X|x)$)/"
                               name="idNumber" required
                               type="text"/>
                    </div>
                    <div class="P_L_I_Right">
                        <div ng-class="{true: 'P_L_zc_tr', false: 'P_L_zc_ts'}[resetForm.idNumber.$dirty && resetForm.idNumber.$invalid]"
                             style="line-height:34px">请输入18位有效证件号码。
                        </div>
                    </div>
                </div>

                <div class="P_L_T_input" ng-repeat="ql in questionList">

                    <div class="P_L_I_left"><span>*</span>问题{{$index+1}}：</div>
                    <div class="P_L_I_Cen01">
                        <input class="P_L_I_label" ng-model="ql.answer" placeholder="{{ql.content}}">
                    </div>
                    <!--<div class="P_L_I_Right">-->
                    <!--<div ng-class="{true: 'P_L_zc_tr', false: 'P_L_zc_ts'}[resetForm.idNumber.$dirty && resetForm.idNumber.$invalid]"-->
                         <!--style="line-height:34px"><span style="color: black;font-weight: bold;" ng-bind="ql.content"></span>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>




                <div class="P_L_T_input">
                    <div class="P_L_I_left"><span>*</span>图形验证码：</div>
                    <div class="P_L_I_Cen03">
                        <input type="hidden" id="captchaId" name="captchaId"
                               value="{{captcha.captchaId}}"/> <input type="text" style="width: 220px;"
                                                                      id="captchaWord" name="captchaWord"
                                                                      class="P_L_t_input"
                                                                      data-ng-model="captcha.captchaWord"
                                                                      required
                                                                      placeholder="点击图片更换验证码"
                                                                      style="width: 90px"/>
                    </div>
                    <div class="L_t_Code">
                        <span> <img style="margin-left:70%" id="captchaImage" ng-src="{{captchaUrl}}"
                                    data-ng-click="getCaptcha()" width="80" height="30" alt="验证码"></span>
                    </div>
                </div>
                <div class="P_L_T_input">
                    <div class="P_L_I_left"><span>*</span>手机验证码：</div>
                    <div class="P_L_I_Cen">
                        <input class="P_L_I_input2" name="validateMobileNumber"
                               ng-model="passWordResetDetailDTO.captcha" required type="text"/>
                        <div class="P_L_I_buttom">
                            <div class="P_L_I_Green hand">
                                <input id="btnPSendCode" class="P_L_I_Green hand" value="发送验证码"
                                       data-ng-click="passwordCtrlMessage()"
                                       ng-disabled="resetForm.mobilenumber.$invalid"/>
                            </div>
                        </div>
                    </div>
                    <div class="P_L_I_Right">
                        <div ng-class="{true: 'P_L_zc_tr', false: 'P_L_zc_ts'}[resetForm.validateMobileNumber.$dirty && resetForm.validateMobileNumber.$invalid]"
                             style="line-height:34px">请输入您接收到的验证码。
                        </div>
                    </div>
                </div>


                <div class="P_L_T_input" style="height:auto">
                    <div class="P_L_I_left" style="height:auto"></div>
                    <div class="P_L_I_Cen" style="margin-left:200px;height:auto;width:500px">
                        <span style="color:red; font-size:13px;" class="ng-binding">{{pwmobilenumbermsg}}</span>
                    </div>
                    <div class="P_L_I_Right" style="height:auto">
                    </div>
                </div>

                <div class="P_L_T_input">
                    <div class="P_L_I_left"><span>*</span>设置密码：</div>
                    <div class="P_L_I_Cen03">
                        <input class="P_L_I_input" name="newPassword" type="password"
                               ng-model="passWordResetDetailDTO.newPassword" data-ng-minlength="6"
                               required/>
                    </div>
                    <div class="P_L_I_Right">
                        <div ng-class="{true: 'P_L_zc_tr', false: 'P_L_zc_ts'}[resetForm.newPassword.$dirty && resetForm.newPassword.$invalid]"
                             style="line-height:34px">
                            请设置密码，8位及以上包含数字和字母。
                        </div>
                    </div>
                </div>
                <div class="P_L_T_input" style="height:2px" ng-show='pwmobilenumbermsg'></div>
                <div class="P_L_T_input">
                    <div class="P_L_I_left"><span>*</span>确认密码：</div>
                    <div class="P_L_I_Cen03">
                        <input class="P_L_I_input" ng-model="confirmPassword" name="confirmpassword" type="password"
                               girder-valid-password="passWordResetDetailDTO.newPassword" required>
                    </div>
                    <div class="P_L_I_Right">
                        <div id="confirmPassword" class="P_L_zc_ts"
                             ng-class="{true: 'P_L_zc_tr'}[resetForm.confirmpassword.$dirty&&(resetForm.confirmpassword.$error._required||resetForm.confirmpassword.$error.notEqual)]">
                            请再次输入新密码，进行密码确认；请确保两次输入的密码一致。
                        </div>
                    </div>
                </div>

                <!--空间-->
                <div class="L_T_input" style="height:15px"></div>
                <div class="P_L_t_text_color2 hand" data-ng-click="resetLoginPassword()">重&nbsp;&nbsp;置&nbsp;&nbsp;密&nbsp;&nbsp;码</div>
            </div>
        </form>
    </div>
</div>

