<div class="L_bag">
    <div class="L_three">
        <!--<div class="L_t_left"></div>-->
        <div class="L_t_right">
            <form name="loginForm" id="loginForm" ng-submit="loginSystem(loginForm)">
                <div class="L_o_text">单位网厅账号登录</div>
                <div class="L_t_text">
                    <!--<div class="L_T_admin">用户名：</div>-->
                    <div class="L_T_adright">
                        <input class="L_t_input" name="username" id="username" autofocus data-ng-model="credentials.username" required type="text" placeholder="请输入用户名"/>
                    </div>
                </div>
                <div class="L_t_text">
                    <!--<div class="L_T_admin">密  码：</div>-->
                    <div class="L_T_adright">
                        <input class="L_t_input" name="password" type="password" id="inputPassword"
                               data-ng-model="credentials.password" data-ng-minlength="6" required placeholder="请输入密码"/>
                    </div>
                </div>
                <div class="L_t_text">
                    <!--<div class="L_T_admin">验证码：</div>-->
                    <div class="L_T_adright2">
                        <input type="hidden" id="captchaId" name="captchaId" value="{{credentials.captchaId}}"/>
                        <input type="text" id="captchaWord" name="captchaWord"
                               class="L_t_input"
                               data-ng-model="credentials.captchaWord"
                               data-ng-minlength="4" data-ng-maxlength="4"
                               required placeholder="点击图片更换验证码"/>
                    </div>
                    <div class="L_t_Code">
                        <img id="captchaImage" ng-src="{{captchaUrl}}" data-ng-click="getCaptcha()" width="84" height="40" alt="验证码">
                    </div>
                </div>

                <button type="submit" class="L_t_text_color hand">登 录 系 统</button>
            </form>
        </div>
    </div>

</div>
<div class="L_twofg" ></div>